<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>MainStoryboard_iPhone</string>
	<key>MinimumOSVersion</key>
	<string>7.0</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon-Small@2x_fw</string>
		<string>icon7-120_fw</string>
		<string>Icon@2x</string>
		<string>Icon_fw</string>
		<string>Default.png</string>
		<string>Default@2x.png</string>
		<string>Default-568h@2x.png</string>
		<string>Default-Landscape.png</string>
		<string>Default-Landscape@2x.png</string>
		<string>Default-Portrait.png</string>
		<string>Default-Portrait@2x.png</string>
		<string>Icon-Small</string>
		<string>Icon-Small-40@2x</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>net.azure-mobile.t4s</string>
	<key>CFBundleVersion</key>
	<string>1.11</string>
	<key>CFBundleDisplayName</key>
	<string>Tweet4Swag</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
</dict>
</plist>
